<section class="tile is-child box has-background-light">
    <div class="container">
        <form>
            <div class="field">
                <label class="label">Video URL:</label>
                <p class="is-danger help" *ngIf="!valid">URL format must be "https://www.youtube.com/..."</p>
                <div class="control">
                    <input class="input" type="text" placeholder="https://www.youtube.com/watch?...." [(ngModel)]="inputUrl"
                        name="videoUrl" (input)="validateUrl()">
                </div>
            </div>
            <div class="field">
                <!--todo: implement validation-->
                <div class="control">
                    <button class="button is-primary" type="text" [disabled]="!valid"
                        (click)="fetchVideo()">Fetch</button>
                </div>
            </div>
        </form>
    </div>
</section>