<section class=" is-fullhd section">
    <div class="container">
        <form>
            <div class="field">
                <label class="label">Video URL:</label>
                <div class="control">
                    <input class="input" type="text" placeholder="https://www.youtube.com/watch?...." [(ngModel)]="inputUrl"
                        name="videoUrl">
                </div>
                <p class="help">URL format not valid</p>
                <div class="field">
                    <!--todo: implement validation-->
                    <div class="control">
                        <a class="button is-primary" type="text" placeholder="https://www.youtube.com/watch?...."
                            (click)="fetchVideo()">Fetch</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>